doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.1.0.js', charset='UTF-8', integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=", crossorigin="anonymous")
    script(src='./javascripts/cardboard.js')
  body
    block content
